@font-face {
  font-family: "Avenir";
  src: url("../.././assets/fonts/Linotype\ -\ AvenirNextLTPro-Regular.otf")
  format("truetype");
}

@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/Linotype\ -\ AvenirNextLTPro-Demi.otf")
  format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/Linotype\ -\ AvenirNextLTPro-Bold.otf")
  format("truetype");
  font-weight: 700;
}

$h2mobile: 1.4rem;
$h1mobile: 2.4rem;
