$parag:#323232;
$white:#fff;

$nav-footer-bg:#323232;
$gallery-bg: #FAFAFA;

$mobile-spacing: 1.6rem;
$footer-mobile-spacing: 1rem;
$tablet-spacing: 2.4rem;
$desktop-spacing: 18rem;

// $tablet-breakpoint: 768px;
// $desktop-breakpoint: 1280px;