@use 'partials/typography' as *;
@use 'partials/variables' as *;
@use 'partials/mixins' as *;

html {
  font-size: 10px;
}

body {
  font-family: "Avenir", "Verdana";
  margin: 0;
  color: $graphite;
}

// Navigation
.nav {
  @include reset;
  background-color: $nav-footer-bg;
  height: 8rem;
  @include half-centre;
  flex-wrap: wrap;
  box-sizing: border-box;

  @include tablet {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  &__bandsite {
    @include min-max;
    height: 24%;
    padding: $mobile-spacing 0 0.5rem;
    @include half-centre;

    @include tablet {
      @include reset;
      @include fit;
      margin: 0 4rem 0 $tablet-spacing;
    }

    @include desktop {
      margin: 0 5.6rem 0 $desktop-spacing;
    }
  }
  &__list {
    @include reset;
    @include min-max;
    height: 50%;
    list-style: none;
    color: $white;
    font-size: $h2mobile;
    font-weight: $demi;
    display: flex;

    @include tablet {
      min-width: 35%;
      max-width: 35%;
      @include space-around;
    }

    @include desktop {
      min-width: 15%;
      max-width: 15%;
      justify-content: space-between;
    }
  }
  &__item {
    width: 50%;
    opacity: 0.5;
    @include full-centre;

    @include tablet {
      min-width: 30%;
      max-width: 30%;
      padding: 0 0.5rem;
      height: 7.6rem;
    }

    @include desktop {
      min-width: 37%;
      max-width: 37%;
      @include reset;
    }
    &--active {
      border-bottom: 0.4rem solid $white;
      opacity: 1;
    }
  }
  &__link {
    color: $white;
    text-decoration: none;
  }
}

// Hero
.hero {
  height: 18.3rem;
  @include min-max;
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)),
    url(../assets/images/album-hero-image.jpg);
  @include bg-position;
  display: flex;
  align-items: center;

  @include tablet {
    height: 40rem;
  }

  @include desktop {
    height: 67rem;
  }
  &__title {
    @include reset;
    width: 70%;
    font-size: $h1mobile;
    font-weight: $bold;
    color: $white;
    margin-left: $mobile-spacing;

    @include tablet {
      margin-left: $tablet-spacing;
      font-size: $h1desk-hero;
    }

    @include desktop {
      width: 40%;
      margin-left: $desktop-spacing;
    }
  }
}

// About
.about {
  margin: 0 $mobile-spacing;
  @include flex-column;
  box-sizing: border-box;

  @include tablet {
    margin: 0 $tablet-spacing;
  }

  @include desktop {
    margin: 0 $desktop-spacing;
  }
  &__title {
    font-size: $h1mobile;
    font-weight: $bold;
    margin: 3rem 0 2rem;
    box-sizing: border-box;

    @include tablet {
      font-size: $h1desk-header;
      margin: 4rem 0 3.2rem;
    }

    @include desktop {
      margin: 4.8rem 0;
    }
  }
  &__band-img {
    @include min-max;
    height: 14.5rem;

    @include tablet {
      @include min-max;
      height: 36.2rem;
    }

    @include desktop {
      @include min-max;
      height: 45rem;
      @include half-centre;
    }
  }
  &__img {
    @include min-max;
    height: 100%;
    box-sizing: border-box;

    @include desktop {
      min-width: 89.6rem;
      max-width: 89.6rem;
      height: 45rem;
    }
  }
  &__quote {
    font-size: 1.6rem;
    font-weight: $demi;
    line-height: 2.2rem;
    margin: 2.4rem 0 3.2rem;

    @include tablet {
      font-size: $h1mobile;
      font-weight: $bold;
      line-height: 3.2rem;
      margin-top: 4rem;
    }

    @include desktop {
      width: 75%;
      margin: 4.8rem 0 4rem 9.2rem;
    }
  }
  &__author {
    @include reset;
    font-size: $h2mobile;
    font-weight: $demi;
    margin-bottom: 4rem;

    @include tablet {
      font-size: $h3desk;
    }

    @include desktop {
      margin: 0 0 5.6rem 9.2rem;
    }
  }
  &__record {
    @include flex-column;

    @include tablet {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      margin-bottom: 4rem;
    }

    @include desktop {
      margin: 0 9.2rem 4.8rem;
    }
  }
  &__subtitle {
    @extend .about__quote;
    @include reset;
    margin-bottom: 2.4rem;

    @include tablet {
      @include min-max;
    }

    @include desktop {
      margin-bottom: 3.2rem;
    }
  }
  &__text {
    @include reset;
    font-size: $paragmobile;
    line-height: 2rem;

    @include tablet {
      width: 48%;
      font-size: $h2mobile;
      line-height: 2.2rem;
    }

    @include desktop {
      width: 47%;
    }
    &--second {
      @extend .about__text;
      margin: 2.4rem 0 4rem;

      @include tablet {
        @include reset;
        margin-left: $tablet-spacing;
      }

      @include desktop {
        margin-left: 4rem;
      }
    }
  }
}

// Gallery
.gallery {
  background-color: $gallery-bg;
  padding-bottom: 4rem;
  &__container {
    @extend .about;
    margin: 0 0.8rem;

    @include tablet {
      margin: 0 1.2rem;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
    }

    @include desktop {
      margin: 0 16.8rem;
    }
  }
  &__title {
    @extend .about__title;

    @include tablet {
      width: 100%;
      margin: 4rem 1.2rem 4.6rem;
    }

    @include desktop {
      margin: 4.8rem 1.2rem 5.2rem;
    }
  }
  &__img {
    margin: 0.8rem;

    @include tablet {
      height: 12.6rem;
      width: 22.4rem;
      margin: 1.2rem;
    }

    @include desktop {
      height: 19.3rem;
      width: 34.4rem;
      margin: 1.2rem;
    }
  }
}

// Form
.comments {
  @extend .about;
  box-sizing: border-box;

  @include tablet {
    margin: 0 $tablet-spacing 3.5rem;
    align-items: center;
  }

  @include desktop {
    margin: 0 $desktop-spacing;
    display: flex;
    align-items: center;
    box-sizing: border-box;
  }
  &__title {
    @extend .about__title;
    margin: 3.2rem 0 3.5rem;
    width: 100%;

    @include desktop {
      margin: 4.8rem 0 5.6rem;
    }
  }
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    padding-bottom: 3.2rem;
    border-bottom: 0.1rem solid $mercury;

    @include tablet {
      width: 55rem;
      justify-content: center;
    }
    @include desktop {
      width: 55rem;
      display: flex;
      box-sizing: border-box;
    }
  }
  &__avatar {
    background-image: url(../assets/images/Mohan-muruge.jpg);
    background-position: left;
    background-size: cover;
    width: 4.8rem;
    height: 4.8rem;
    margin-right: 1.5rem;
    border-radius: 50%;
    position: relative;
    top: 2.2rem;

    @include tablet {
      margin-right: 2rem;
    }

    @include desktop {
      width: 4.8rem;
      height: 4.8rem;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;

    @include desktop {
      width: 47rem;
    }
  }
  &__heading {
    color: $silver;
    text-transform: uppercase;
    font-size: $paragmobile;
    font-weight: $demi;
    margin: 0 0 0.5rem 0;
  }
  &__input {
    @include reset;
    width: 22.4rem;
    height: 4rem;
    border: 0.1rem solid $mercury;
    border-radius: 0.4rem;
    color: $graphite;
    background-color: $gallery-bg;
    margin-bottom: 1.5rem;

    @include tablet {
      width: 43.2rem;
    }

    @include desktop {
      width: 46rem;
    }
  }
  &__input[type="text"] {
    box-sizing: border-box;
    padding-left: 1rem;
  }
  &__input::placeholder {
    color: $graphite;
    font-family: "Avenir";
  }
  &__input:focus {
    outline: none;
    border: 0.2rem solid $graphite;
  }

  &__desc {
    border-radius: 0.4rem;
    background-color: $gallery-bg;
    border: 0.1rem solid $mercury;
    font-family: "Avenir";

    @include tablet {
      width: 43.2rem;
    }

    @include desktop {
      width: 46rem;
    }
  }
  &__desc[type="text"] {
    box-sizing: border-box;
    padding-left: 1rem;
  }
  &__desc:focus {
    outline: none;
    border: 0.2rem solid $graphite;
  }
  &__desc::placeholder {
    color: $graphite;
    font-family: "Avenir";
  }
  &__submit {
    @include min-max;
    @include reset;
    font-size: 1.3rem;
    height: 4.8rem;
    color: $white;
    font-weight: $bold;
    text-transform: uppercase;
    background-color: $graphite;
    border-radius: 0.4rem;
    border-style: none;
    outline: none;
    margin: 1.5rem 0 1rem;

    @include tablet {
      min-width: 16rem;
      max-width: 16rem;
      height: 4.8rem;
      margin: 2rem 0 2rem 27rem;
    }

    @include desktop {
      min-width: 16rem;
      max-width: 16rem;
      height: 4.8rem;
      margin: 1.5rem 0 1rem 31rem;
    }
  }
  &__submit:hover {
    background-color: black;
  }
}

// Default Comments
.default-comments {
  margin: 0 $mobile-spacing 4rem;
  &__wrap {
    margin-top: 2.4rem;
    display: flex;
    justify-content: center;
    padding-bottom: 2.4rem;
    border-bottom: 0.1rem solid $mercury;

    @include tablet {
      @include reset;
      width: 52.8rem;
      justify-content: center;
      margin: 2.4rem auto;
      padding-bottom: 2rem;
    }
  }
  &__img {
    width: 4.5rem;
    height: 4.5rem;
    background-color: $mercury;
    margin-right: 1.5rem;
    border-radius: 50%;

    @include tablet {
      margin-right: $mobile-spacing;
    }

    @include desktop {
      width: 4.8rem;
      height: 4.8rem;
    }
  }
  &__body {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include tablet {
      justify-content: flex-start;
    }
  }

  &__name {
    font-size: $h2mobile;
    font-weight: $demi;
    margin: 0 0 1rem;
    width: 65%;

    @include tablet {
      width: fit-content;
    }
  }
  &__date {
    font-size: 1.3rem;
    color: $silver;
    width: 30%;
    text-align: end;

    @include tablet {
      margin-left: 1rem;
      text-align: start;
    }
  }
  &__text {
    @include reset;
    font-size: $h2mobile;
    line-height: 2rem;
    width: 100%;
  }
}

// Footer
.contact {
  background-color: $nav-footer-bg;
  color: $white;
  @include flex-column;
  margin-top: 2rem;
  box-sizing: border-box;

  @include desktop {
    margin-top: 1.6rem;
  }
  &__wrap {
    @include reset;
    margin: 0 $footer-mobile-spacing;

    @include tablet {
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
  }
  &__container {
    display: flex;
    flex-direction: column;

    @include tablet {
      display: flex;
      flex-direction: row;
      width: 100%;
      margin: 4.8rem $tablet-spacing 5.6rem;
      justify-content: space-between;
      align-items: center;
    }

    @include desktop {
      margin: 4.8rem $desktop-spacing 5.6rem;
    }
  }
  &__title-icons {
    @include tablet {
      display: flex;
      width: 65%;
      justify-content: flex-start;
      align-items: center;
    }

    @include desktop {
      width: 65%;
    }
  }
  &__title {
    font-size: 3.6rem;
    font-weight: $bold;
    margin-top: 4rem;

    @include tablet {
      @include reset;
    }
  }
  &__icons {
    display: flex;
    justify-content: space-between;
    width: 13.5rem;
    margin: 0 0 3.2rem 0.6rem;

    @include tablet {
      @include reset;
      margin-left: 2.5rem;
      width: 21rem;
      justify-content: space-evenly;
    }

    @include desktop {
      @include reset;
      justify-content: space-evenly;
      margin-left: 3.2rem;
    }
  }
  &__icon {
    @include tablet {
      width: 2.1rem;
      height: 2.4rem;
    }
  }
  &__logo {
    display: none;

    @include tablet {
      display: flex;
      width: 12rem;
    }
  }
  &__container-two {
    @include tablet {
      width: 76rem;
      margin: 0 $tablet-spacing;
      @include space-between;
      box-sizing: border-box;
    }

    @include desktop {
      width: 84rem;
      margin: 0 0 0 $desktop-spacing;
    }
  }
  &__body {
    @include reset;
    @include flex-column;
    justify-content: space-between;
    height: 13rem;
    margin-bottom: 2.4rem;

    @include tablet {
      width: 34%;
    }

    @include desktop {
      height: 18.8rem;
      width: 38%;
      margin-bottom: 0;
    }
  }
  &__name {
    @include reset;
    font-size: $h2mobile;
    font-weight: $demi;

    @include tablet {
      line-height: 2.4rem;
      font-size: $h3desk;
    }
  }
  &__company {
    @extend .contact__name;
  }
  &__location {
    @include reset;
    font-weight: $regular;
    font-size: $paragmobile;
    line-height: 2rem;

    @include tablet {
      font-size: $h2mobile;
    }
  }
  &__email {
    @include reset;
    @extend .contact__location;

    @include desktop {
      padding-bottom: 4rem;
    }
  }
  &__link {
    text-decoration: none;
    color: $white;
    height: fit-content;
  }
  &__copyright {
    @extend .contact__email;
    width: 65%;
    line-height: 1.8rem;
    margin-bottom: 3.2rem;

    @include tablet {
      margin: 1rem 0 4rem $tablet-spacing;
    }

    @include desktop {
      padding: 0;
      margin: 0 0 4rem $desktop-spacing;
    }
  }
}
