@font-face {
  font-family: "Avenir";
  src: url("../.././assets/fonts/Linotype-AvenirNextLTPro-Regular.otf") format("truetype");
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/Linotype-AvenirNextLTPro-Demi.otf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/Linotype-AvenirNextLTPro-Bold.otf") format("truetype");
  font-weight: 700;
}
html {
  font-size: 10px;
}

body {
  font-family: "Avenir", "Verdana";
  margin: 0;
  color: #323232;
}

.hero {
  height: 47.2rem;
  min-width: 100%;
  max-width: 100%;
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url(../assets/images/shows-hero.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}
@media (min-width: 768px) {
  .hero {
    height: 67rem;
  }
}
@media (min-width: 1280px) {
  .hero {
    height: 67rem;
    flex-direction: row;
    align-items: center;
  }
}
@media (min-width: 1280px) {
  .hero__text-container {
    width: 40%;
    height: 100%;
    margin: 0 6.4rem 0 18rem;
  }
}
.hero__album {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 700;
  margin: 6.4rem 0 1rem 1.6rem;
}
@media (min-width: 768px) {
  .hero__album {
    margin: 9.6rem 0 2rem 2.4rem;
    font-size: 2.6rem;
  }
}
@media (min-width: 1280px) {
  .hero__album {
    margin: 16rem 0 4.8rem;
  }
}
.hero__title {
  margin: 0;
  padding: 0;
  width: 95%;
  font-size: 3.6rem;
  font-weight: 700;
  color: #fff;
  margin: 0 0 6rem 1.6rem;
}
@media (min-width: 768px) {
  .hero__title {
    width: 78%;
    margin: 0 0 4.5rem 2.4rem;
    font-size: 6rem;
  }
}
@media (min-width: 1280px) {
  .hero__title {
    margin: 0;
    padding: 0;
    width: 100%;
  }
}
.hero__player {
  margin: 0 1.6rem;
}
@media (min-width: 768px) {
  .hero__player {
    margin: 0 2.4rem;
    width: 55%;
  }
}
@media (min-width: 1280px) {
  .hero__player {
    margin: 0;
    padding: 0;
    width: 43.6rem;
    position: relative;
  }
}
.hero__soundcloud {
  width: 100%;
  height: 9.6rem;
}
@media (min-width: 768px) {
  .hero__soundcloud {
    height: 14rem;
  }
}
@media (min-width: 1280px) {
  .hero__soundcloud {
    height: 14.6rem;
    position: relative;
    top: 6rem;
  }
}

.shows {
  display: flex;
  flex-direction: column;
  margin: 0 1.6rem;
}
@media (min-width: 768px) {
  .shows {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 2.4rem;
  }
}
@media (min-width: 1280px) {
  .shows {
    flex-direction: row;
    margin: 0 18rem;
  }
}
.shows__title {
  font-size: 3.2rem;
  font-weight: 700;
  margin: 3.2rem 0 4rem;
}
@media (min-width: 768px) {
  .shows__title {
    margin: 4.8rem 0 4rem;
    width: 100%;
  }
}
@media (min-width: 1280px) {
  .shows__title {
    margin-top: 4.8rem;
    width: 20%;
    height: 100%;
  }
}
@media (min-width: 768px) {
  .shows__wrap {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
  }
}
@media (min-width: 1280px) {
  .shows__wrap {
    width: 80%;
    margin-bottom: 2rem;
  }
}
.shows__header {
  display: none;
}
@media (min-width: 768px) {
  .shows__header {
    margin: 0;
    padding: 0;
    width: 78%;
    list-style: none;
    color: #AFAFAF;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1280px) {
  .shows__header {
    margin: 4rem 0 0;
    width: 81%;
  }
}
.shows__categories {
  display: none;
}
@media (min-width: 768px) {
  .shows__categories {
    display: flex;
    width: 38%;
    justify-content: space-between;
  }
}
.shows__container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .shows__container {
    width: 100%;
  }
}
.shows__item {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 1.6rem;
  border-bottom: 0.1rem solid #E1E1E1;
  margin-bottom: 2.4rem;
}
@media (min-width: 768px) {
  .shows__item {
    margin: 0;
    padding: 0;
    height: 8rem;
    display: flex;
    margin-bottom: 0;
    justify-content: space-between;
    align-items: center;
  }
}
.shows__subtitle {
  margin: 0;
  padding: 0;
  color: #AFAFAF;
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-weight: 500;
}
@media (min-width: 768px) {
  .shows__subtitle {
    display: none;
  }
}
.shows__data {
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .shows__data {
    margin: 0;
    padding: 0;
    width: 18rem;
  }
}
.shows__data--emph {
  font-weight: 500;
}
.shows__cta {
  min-width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  min-width: 28.8rem;
  height: 4.8rem;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #323232;
  border-radius: 0.4rem;
  border-style: none;
}
@media (min-width: 768px) {
  .shows__cta {
    min-width: 16rem;
    max-width: 16rem;
    height: 4.8rem;
  }
}/*# sourceMappingURL=shows.css.map */