@font-face {
  font-family: "Avenir";
  src: url("../.././assets/fonts/Linotype-AvenirNextLTPro-Regular.otf") format("truetype");
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/Linotype-AvenirNextLTPro-Demi.otf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/Linotype-AvenirNextLTPro-Bold.otf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/Linotype-AvenirNextLTPro-Heavy.otf") format("truetype");
  font-weight: 900;
}
html {
  font-size: 10px;
}

body {
  font-family: "Avenir";
  margin: 0;
  color: #323232;
}

.nav {
  margin: 0;
  padding: 0;
  background-color: #323232;
  height: 8rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
.nav__bandsite {
  min-width: 100%;
  max-width: 100%;
  height: 24%;
  padding: 1.6rem 0 0.5rem;
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .nav__bandsite {
    margin: 0;
    padding: 0;
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin: 0 4rem 0 2.4rem;
  }
}
@media (min-width: 1280px) {
  .nav__bandsite {
    margin: 0 5.6rem 0 18rem;
  }
}
.nav__list {
  margin: 0;
  padding: 0;
  min-width: 100%;
  max-width: 100%;
  height: 50%;
  list-style: none;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
  display: flex;
}
@media (min-width: 768px) {
  .nav__list {
    min-width: 35%;
    max-width: 35%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
@media (min-width: 1280px) {
  .nav__list {
    min-width: 15%;
    max-width: 15%;
    justify-content: space-between;
  }
}
.nav__item {
  width: 50%;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .nav__item {
    min-width: 30%;
    max-width: 30%;
    padding: 0 0.5rem;
    height: 7.6rem;
  }
}
@media (min-width: 1280px) {
  .nav__item {
    min-width: 37%;
    max-width: 37%;
    margin: 0;
    padding: 0;
  }
}
.nav__item--active {
  border-bottom: 0.4rem solid #fff;
  opacity: 1;
}
.nav__link {
  color: #fff;
  text-decoration: none;
}

.hero {
  height: 18.3rem;
  min-width: 100%;
  max-width: 100%;
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url(../assets/images/album-hero-image.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .hero {
    height: 40rem;
  }
}
@media (min-width: 1280px) {
  .hero {
    height: 67rem;
  }
}
.hero__title {
  margin: 0;
  padding: 0;
  width: 70%;
  font-size: 2.4rem;
  font-weight: 700;
  color: #fff;
  margin-left: 1.6rem;
}
@media (min-width: 768px) {
  .hero__title {
    margin-left: 2.4rem;
    font-size: 6rem;
  }
}
@media (min-width: 1280px) {
  .hero__title {
    width: 40%;
    margin-left: 18rem;
  }
}

.about, .comments, .gallery__container {
  margin: 0 1.6rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .about, .comments, .gallery__container {
    margin: 0 2.4rem;
  }
}
@media (min-width: 1280px) {
  .about, .comments, .gallery__container {
    margin: 0 18rem;
  }
}
.about__title, .comments__title, .gallery__title {
  font-size: 2.4rem;
  font-weight: 700;
  margin: 3rem 0 2rem;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .about__title, .comments__title, .gallery__title {
    font-size: 3.8rem;
    margin: 4rem 0 3.2rem;
  }
}
@media (min-width: 1280px) {
  .about__title, .comments__title, .gallery__title {
    margin: 4.8rem 0;
  }
}
.about__band-img {
  min-width: 100%;
  max-width: 100%;
  height: 14.5rem;
}
@media (min-width: 768px) {
  .about__band-img {
    min-width: 100%;
    max-width: 100%;
    height: 36.2rem;
  }
}
@media (min-width: 1280px) {
  .about__band-img {
    min-width: 100%;
    max-width: 100%;
    height: 45rem;
    display: flex;
    justify-content: center;
  }
}
.about__img {
  min-width: 100%;
  max-width: 100%;
  height: 100%;
  box-sizing: border-box;
}
@media (min-width: 1280px) {
  .about__img {
    min-width: 89.6rem;
    max-width: 89.6rem;
    height: 45rem;
  }
}
.about__quote, .about__subtitle {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.2rem;
  margin: 2.4rem 0 3.2rem;
}
@media (min-width: 768px) {
  .about__quote, .about__subtitle {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.2rem;
    margin-top: 4rem;
  }
}
@media (min-width: 1280px) {
  .about__quote, .about__subtitle {
    width: 75%;
    margin: 4.8rem 0 4rem 9.2rem;
  }
}
.about__author {
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 4rem;
}
@media (min-width: 768px) {
  .about__author {
    font-size: 1.6rem;
  }
}
@media (min-width: 1280px) {
  .about__author {
    margin: 0 0 5.6rem 9.2rem;
  }
}
.about__record {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .about__record {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 4rem;
  }
}
@media (min-width: 1280px) {
  .about__record {
    margin: 0 9.2rem 4.8rem;
  }
}
.about__subtitle {
  margin: 0;
  padding: 0;
  margin-bottom: 2.4rem;
}
@media (min-width: 768px) {
  .about__subtitle {
    min-width: 100%;
    max-width: 100%;
  }
}
@media (min-width: 1280px) {
  .about__subtitle {
    margin-bottom: 3.2rem;
  }
}
.about__text, .about__text--second {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  line-height: 2rem;
}
@media (min-width: 768px) {
  .about__text, .about__text--second {
    width: 48%;
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
}
@media (min-width: 1280px) {
  .about__text, .about__text--second {
    width: 47%;
  }
}
.about__text--second {
  margin: 2.4rem 0 4rem;
}
@media (min-width: 768px) {
  .about__text--second {
    margin: 0;
    padding: 0;
    margin-left: 2.4rem;
  }
}
@media (min-width: 1280px) {
  .about__text--second {
    margin-left: 4rem;
  }
}

.gallery {
  background-color: #FAFAFA;
  padding-bottom: 4rem;
}
@media (min-width: 768px) {
  .gallery__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 768px) {
  .gallery__title {
    min-width: 100%;
    max-width: 100%;
    margin-bottom: 5.8rem;
  }
}
@media (min-width: 1280px) {
  .gallery__title {
    margin-bottom: 6.4rem;
  }
}
.gallery__img {
  margin-bottom: 1.6rem;
}
@media (min-width: 768px) {
  .gallery__img {
    margin-bottom: 2.4rem;
    height: 12.6rem;
    width: 22.4rem;
  }
}
@media (min-width: 1280px) {
  .gallery__img {
    height: 19.3rem;
    width: 34.4rem;
  }
}

.comments {
  padding-bottom: 3.2rem;
  border-bottom: 0.1rem solid #E1E1E1;
}
.comments__title {
  margin: 3.2rem 0 3.5rem;
}
.comments__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
.comments__avatar {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  position: relative;
  top: 22px;
}
.comments__form {
  display: flex;
  flex-direction: column;
}
.comments__heading {
  color: #AFAFAF;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0 0 0.5rem 0;
}
.comments__input {
  margin: 0;
  padding: 0;
  width: 22.4rem;
  height: 4rem;
  border: 0.1rem solid #E1E1E1;
  border-radius: 0.4rem;
  color: #323232;
  background-color: #FAFAFA;
  margin-bottom: 1.5rem;
}
.comments__input::-moz-placeholder {
  color: #323232;
  font-family: "Avenir";
  padding-left: 1rem;
}
.comments__input:-ms-input-placeholder {
  color: #323232;
  font-family: "Avenir";
  padding-left: 1rem;
}
.comments__input::placeholder {
  color: #323232;
  font-family: "Avenir";
  padding-left: 1rem;
}
.comments__input:focus {
  outline: none;
  border: 0.2rem solid #323232;
}
.comments__desc {
  border-radius: 0.4rem;
  background-color: #FAFAFA;
  border: 0.1rem solid #E1E1E1;
}
.comments__desc:focus {
  outline: none;
  border: 0.2rem solid #323232;
}
.comments__desc::-moz-placeholder {
  color: #323232;
  font-family: "Avenir";
  padding-left: 1rem;
}
.comments__desc:-ms-input-placeholder {
  color: #323232;
  font-family: "Avenir";
  padding-left: 1rem;
}
.comments__desc::placeholder {
  color: #323232;
  font-family: "Avenir";
  padding-left: 1rem;
}
.comments__submit {
  min-width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  font-size: 1.3rem;
  height: 4.8rem;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #323232;
  border-radius: 0.4rem;
  border-style: none;
  margin: 1.5rem 0 1rem;
}
.comments__submit:hover {
  background-color: black;
}

.contact {
  background-color: #323232;
  color: #fff;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
@media (min-width: 1280px) {
  .contact {
    margin-top: 1.6rem;
  }
}
.contact__container {
  margin: 0;
  padding: 0;
  margin: 0 1rem;
}
@media (min-width: 768px) {
  .contact__container {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
  }
}
.contact__title {
  font-size: 3.8rem;
  font-weight: 700;
  margin-top: 4rem;
}
@media (min-width: 768px) {
  .contact__title {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 4rem 2.4rem;
  }
}
@media (min-width: 1280px) {
  .contact__title {
    margin: 4.8rem 0 5.6rem 18rem;
  }
}
.contact__icons {
  display: flex;
  justify-content: space-between;
  width: 45%;
  margin: 0 0 3.2rem 0.6rem;
}
@media (min-width: 768px) {
  .contact__icons {
    margin: 0;
    padding: 0;
    width: 25%;
    justify-content: space-evenly;
  }
}
@media (min-width: 1280px) {
  .contact__icons {
    width: 8%;
    justify-content: space-between;
    margin-left: 5rem;
  }
}
@media (min-width: 768px) {
  .contact__icon {
    width: 2.1rem;
    height: 2.4rem;
  }
}
.contact__logo {
  display: none;
}
@media (min-width: 768px) {
  .contact__logo {
    display: flex;
    width: 12rem;
    position: relative;
    left: 15.6rem;
  }
}
@media (min-width: 1280px) {
  .contact__logo {
    left: 56.5rem;
  }
}
@media (min-width: 768px) {
  .contact__container-two {
    width: 76rem;
    margin: 0 2.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
  }
}
@media (min-width: 1280px) {
  .contact__container-two {
    width: 84rem;
    margin: 0 0 0 18rem;
  }
}
.contact__body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 13rem;
  margin-bottom: 2.4rem;
}
@media (min-width: 768px) {
  .contact__body {
    width: 34%;
  }
}
@media (min-width: 1280px) {
  .contact__body {
    height: 18.8rem;
    width: 38%;
    margin-bottom: 0;
  }
}
.contact__name, .contact__company {
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
  font-weight: 500;
}
@media (min-width: 768px) {
  .contact__name, .contact__company {
    line-height: 2.4rem;
    font-size: 1.6rem;
  }
}
.contact__location, .contact__email, .contact__copyright {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2rem;
}
@media (min-width: 768px) {
  .contact__location, .contact__email, .contact__copyright {
    font-size: 1.4rem;
  }
}
.contact__email, .contact__copyright {
  margin: 0;
  padding: 0;
}
@media (min-width: 1280px) {
  .contact__email, .contact__copyright {
    padding-bottom: 4rem;
  }
}
.contact__link {
  text-decoration: none;
  color: #fff;
}
.contact__copyright {
  width: 65%;
  line-height: 1.8rem;
  margin-bottom: 3.2rem;
}
@media (min-width: 768px) {
  .contact__copyright {
    margin: 1rem 0 4rem 2.4rem;
  }
}
@media (min-width: 1280px) {
  .contact__copyright {
    padding: 0;
    margin: 0 0 4rem 18rem;
  }
}/*# sourceMappingURL=main.css.map */